# fly.toml app configuration file generated for tinyhub-server on 2024-05-15T16:42:12-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tinyhub-server'
primary_region = 'iad'

[build]

[http_service]
internal_port = 8000
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '256MB'
cpu_kind = 'shared'
cpus = 1
